.bg-login-card {
    background: #a7c0ff;
}
.bg-light-blue {
    background: #a7c0ff;
}
.btn-login-bg {
    background: #d9d9d9;
}
.btn-logout {
    background: #ff5959;
}
.bg-krem {
    background: #ffd3ab;
}
.bg-product{
    background: #f0b4b4;
}
.bg-buy{
    background-color: #32BF00;
}
.bg-sell{
    background-color: #bf0000;
}
